{
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": ".js",
        "paths": "src/",
        "moduleDirectory": ["node_modules/", "src/", "lib/"]
      }
    }
  },
  "extends": "@blockone/blockone",
  "rules": {
    "import/extensions": [ "error", "ignorePackages" ]
  }
}
