@import "src/assets/styles/constants.scss";

.navigation-bar-container {
  position: absolute;
  height: 2rem;
  padding: 0.5rem 0 3.5rem 0;
  width: 100%;

  .navigation-bar-content {
    max-width: $max-content-width;
    margin: 0 auto;
    padding: $content-padding;
    color: white;

    .navigation-bar-title-container {
      display: flex;
      float: left;
      cursor: pointer;

      &:focus:not(.focus-visible) {
        outline: none;
      }

      .navigation-bar-logo {
        width: 10rem;
        height: 4rem;

        @media screen and (max-width: $max-mobile-width) {
          width: 7.5rem;
        }
      }
    }

    .navigation-bar-list {
      float: right;
      list-style-type: none;
      padding: 0;
      margin: 0;
      cursor: default;

      li {
        display: inline-block;
        margin: 1.5rem 0 0 3rem;
        font-weight: 600;

        &.post {
          margin-left: 0;
          cursor: pointer;

          @media screen and (max-width: $max-mobile-width) {
            display: none;
          }
        }

        &.login {
          cursor: pointer;
          
          &:focus:not(.focus-visible) {
            outline: none;
          }
        }

        &.user-info {
          vertical-align: top;
          margin-top: 1rem;
        }
      }
    }
  }
}
