// Layout
$max-content-width: 1224px;
$max-tablet-width: 768px;
$max-mobile-width: 480px;

// Padding
$content-padding: 0 2rem;

// Colors
$button: #46D564;
$text: #2F3F6A;

$filler-dark: #A1B3C2;
$filler-medium: #C6CFD7;
$filler-light: #E4E8EC;
